.form_user > div{
    padding: .5rem 0;
}
.form_text_input {
    text-align: right;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 5px;
    border: 0px;
}
.form_text_input:focus-visible {
    outline: #0095ff auto 1px;
}
.container_button_create {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_create {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0059ff80;
    border: 2px #fff solid;
    padding: .5rem 1.5rem;
    border-radius: 5rem;
    font-size: 18px;
    font-weight: 600;
}
.button_create:hover {
    background-color: #00ff1abb;
}
