.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #0011ff;
    background: linear-gradient(0deg, #0011ff 0%, #0098b6 100%);
}
